@import 'variables';
@import 'typography';

:host {
  height: 100%;
}

.cover-back-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__endText {
    max-width: rem(288px);

    p {
      text-align: center;
    }
  }
}
