<div class="register-modal-container">
  <liv-register-base-header-modal
    (close)="handleCloseModal()"
    title="Escolha o tipo de registro"
  ></liv-register-base-header-modal>

  <section class="register-modal-content">
    <div
      class="register-action-icon"
      *ngFor="let action of registerActions"
      (click)="handleActionIcon(action)"
    >
      <div class="register-action-icon__content">
        <svg-icon
          [src]="'assets/icons/' + action.icon + '.svg'"
          [svgStyle]="{ 'width.px': 26, fill: '#007BE5' }"
        ></svg-icon>
      </div>
      <span class="register-modal-content__actionName"> {{ action.name }}</span>
    </div>
  </section>
</div>

<input hidden type="file" #fileInput />
