@import 'variables';
@import 'typography';

.register-modal-container {
  max-width: rem(528px);
  min-height: rem(225px);
  padding: rem(24px);
}

.register-modal-content {
  width: 100%;
  display: inline-grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, rem(88px));
  gap: rem(32px);
  margin-top: rem(24px);

  @include mq('lg-mobile') {
    gap: rem(42px);
  }

  &__actionName {
    @include small();
    margin-top: rem(8px);
    text-align: center;
  }
}

.register-action-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__content {
    border-radius: border-radius(full);
    background-color: color(brand-sextenary-lighter);
    width: rem(64px);
    height: rem(64px);

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease;

    &:hover {
      box-shadow: 0 0 0 2px color(brand-sextenary-pure);
    }
  }
}
