@import 'variables';
@import 'typography';

.student-speech-record-modal-container {
  max-width: rem(528px);
  min-height: rem(225px);
  padding: rem(24px);
}

.student-speech-record-modal-form {
  margin-top: rem(24px);

  display: flex;
  flex-direction: column;
  gap: rem(24px);

  textarea {
    resize: none;
    width: 100%;
    height: rem(94px);
    padding: rem(12px) rem(16px);
    border-radius: border-radius(base);
    border: 1px solid color(neutral-hight-pure-medium);

    @include paragraph();

    &::placeholder {
      color: color(neutral-hight-pure-dark);
    }
  }

  input[type='text'] {
    width: 100%;
    height: rem(56px);
    padding: rem(12px) rem(16px);
    border-radius: border-radius(base);
    border: 1px solid color(neutral-hight-pure-medium);

    @include paragraph();

    &::placeholder {
      color: color(neutral-hight-pure-dark);
    }
  }

  button[type='submit'] {
    border: 0;
    padding: rem(16px) rem(24px);
    color: color(neutral-hight-pure);
    width: 100%;
    height: rem(56px);

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: 600;
    border-radius: border-radius(full);

    background-color: color(brand-primary-pure);
    transition: 0.2s ease;

    &:not(:disabled):hover {
      background-color: color(brand-primary-light);
    }
  }
}
