<div class="student-speech-record-modal-container">
    <liv-register-base-header-modal
      (close)="handleCloseModal()"
      title="Fala do aluno"
    ></liv-register-base-header-modal>
  
    <form
      class="student-speech-record-modal-form"
      [formGroup]="form"
      (submit)="handleFinishStudentSpeechRecordRegister()"
    >
      <textarea
        #aboutStudent
        placeholder="Escreva aqui uma frase do seu aluno."
        formControlName="about"
        maxlength="120"
      ></textarea>
      <input
        type="text"
        placeholder="Nome do aluno"
        formControlName="name"
        maxlength="24"
      />
  
      <button type="submit" [disabled]="form.invalid">Concluir</button>
    </form>
  </div>
  
