@import 'variables';
@import 'typography';

$book-height: #{rem(626px)};
$book-width: #{rem(1108px)};

%action-round-button {
  background-color: color(neutral-hight-pure-light);
  border-radius: border-radius('full');
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: rem(48px);
  height: rem(48px);
  padding: rem(8px);
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;

  &:hover {
    background-color: color(neutral-hight-pure-medium);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.book-container {
  height: 100vh;
  background-color: color(neutral-hight-pure-light);
}

.book-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(48px);
  padding: rem(48px) 0 rem(24px);
}

.book {
  transition: opacity 0.4s 0.2s;
  perspective: 250vw;
}

.page {
  &:not(.cover-front) {
    padding: 1.5em;
  }

  display: flex;
  flex-direction: column;
  position: relative;
  width: calc($book-width / 2);
  height: $book-height;
  overflow: hidden;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &:nth-child(even) {
    .page__footer {
      justify-content: flex-start;
    }
  }

  &:nth-child(odd) {
    .page__footer {
      justify-content: flex-end;
    }
  }
}

.book .pages {
  width: calc($book-width + 16px);
  height: calc($book-height + 16px);
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.book .page {
  clear: none;
  margin: 0;
  position: absolute;
  top: 8px;
  width: calc($book-width / 2);
  height: $book-height;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  user-select: none;
  background-color: color(neutral-hight-pure);
}

.book .page:not(.page.cover-front, .page.cover-back)::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0.7s;
  z-index: 2;
  pointer-events: none;
}

.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 8px;
  border-radius: 0 24px 24px 0;
}

.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}

.book .page:nth-child(odd)::before {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}

.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 8px;
  border-radius: 24px 0 0 24px;
  border-color: black;
}

.book .page:nth-child(even)::before {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.12) 0%,
    rgba(0, 0, 0, 0) 10%
  );
}

.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}

.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}

.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}

.page:nth-child(odd) {
  background-position: right top;
}

.cover-front {
  display: flex;
  flex-direction: column;
  background: var(--color-brand) !important;
}

.cover-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color(neutral-hight-pure) !important;
}

.main-cover {
  clear: none;
  margin: 0;
  position: absolute;
  width: calc(($book-width / 2) + 12px);
  height: calc($book-height + 16px);
  top: 0;
  background: #526070;
  z-index: -1;

  transform-origin: 0 0;
  transition: transform 1.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  user-select: none;
  pointer-events: none;

  &:first-child {
    transform: rotateY(-180deg);
    transform-origin: right;
    border-radius: 32px 0 0 32px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 10%
    );
  }

  &:last-child {
    right: -4px;
    border-radius: 0 32px 32px 0;
  }

  &--active {
    &:first-child {
      transform: rotateY(0deg);
      transition: transform 1.4s 0.2s;
    }
  }
}

.cover-front {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--backside {
    background: var(--color-brand_light) !important;
    padding: 1.5rem;
  }
}

.book-action-right-buttons {
  display: grid;
  grid-template-rows: repeat(2, calc($book-height / 2));

  &__closeBookButton {
    @extend %action-round-button;

    position: relative;
    top: rem(20px);
    opacity: 0;
    pointer-events: none;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.switch-pages-action-button {
  @extend %action-round-button;

  &__previous,
  &__next {
    opacity: 0;
    pointer-events: none;
    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
