@import 'variables';
@import 'typography';

.lesson-track-header {
  margin-bottom: rem(16px);
}

.lesson-track-hero {
  margin-top: rem(16px);

  &__picture img {
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/8;
    border-radius: border-radius('2xl');
    object-fit: cover;
    margin-bottom: rem(16px);
  }
}

.lesson-track-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__tag {
    display: block;
    padding: rem(8px);
    margin-bottom: rem(16px);

    @include paragraph(500);
    color: color(neutral-hight-pure);
    background-color: var(--color-brand);
    border-radius: border-radius(lg);
  }

  &__title {
    @include headline-h3(400);
    color: var(--color-brand);
  }

  &__description {
    @include paragraph(400);
    margin-block: rem(8px) rem(32px);
  }

  & + .lesson-track-article {
    margin-top: rem(16px);
  }
}

.purpose-card {
  background: var(--color-brand_light);
  border-radius: border-radius(lg);
  border: 1px solid var(--color-brand);
  padding: rem(24px) rem(16px);

  &__tag {
    position: relative;
    width: fit-content;
    padding-right: rem(8px);
    display: flex;
    align-items: center;
    height: rem(26px);

    border-radius: border-radius('2xl');
    background: color(neutral-hight-pure);

    &__iconContent {
      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--color-brand);
      position: absolute;
      border-radius: border-radius(full);
      left: 0;
      top: 0;
      width: rem(26px);
      height: rem(26px);
      margin-right: rem(8px);

      svg-icon svg {
        width: rem(16px);
        height: rem(16px);
        fill: color(neutral-hight-pure);
      }
    }

    & > span {
      margin-left: rem(34px);
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__article {
    &__title {
      display: block;
      font-weight: 700;
      color: var(--color-brand);
      margin-block: rem(16px);
    }

    &__description {
      max-height: rem(220px);
      overflow-y: auto;
      margin-bottom: 0;
    }
  }
}
