<div
  class="lesson-track-container"
  [style.--color_brand]="(colors$ | async)?.brand"
  [style.--color_brand_light]="(colors$ | async)?.brand_light"
>
  <header class="lesson-track-header">
    <liv-title-badge name="Empatia"></liv-title-badge>
  </header>

  <main class="lesson-track-hero">
    <picture class="lesson-track-hero__picture">
      <img src="assets/images/lesson-track-dummy.jpg" alt="" />
    </picture>

    <article class="lesson-track-article">
      <span class="lesson-track-article__tag">Aula 1</span>
      <h1 class="lesson-track-article__title">Muito prazer, Fernanda!</h1>
      <p class="lesson-track-article__description">
        Fernanda é a nova integrante da nossa turma!Nas conversas com ela,
        refletiremos sobre nossas relações e laços afetivos, pensando aquilo que
        pode estar em jogo quando convivemos com o outro.
      </p>
    </article>
  </main>
</div>
