<div class="upload-file-content">
  <section class="upload-file" *ngIf="!file && !url; else showAvatar">
    <div
      class="dropzone"
      livDragDropFileUpload
      (click)="fileField.click()"
      (fileDropped)="onUpload($event)"
    >
      <div class="dropzone__info">
        <svg-icon src="assets/icons/gallery.svg"></svg-icon>
        <p>Arraste e solte seus arquivos aqui.</p>
        <span>Formatos suportados: JPEG, PNG e GIF</span>
      </div>
    </div>
    <input
      type="file"
      name="picture"
      accept="image/png,image/jpeg,image/gif"
      #fileField
      hidden
      (change)="onChange($event)"
    />
  </section>

  <ng-template #showAvatar>
    <div class="picture-content">
      <div class="picture-content__backdrop">
        <button
          class="icon-button-trash picture-content__trashButton"
          (click)="removePicture()"
        >
          <svg-icon src="assets/icons/trash.svg" svgClass="icon"></svg-icon>
        </button>
      </div>
      <img [src]="url | safeTransform : 'RESOURCE'" alt="" />
    </div>
  </ng-template>
</div>
