@import 'variables';
@import 'typography';

.book-page-footer {
  margin-top: rem(16px);
  display: flex;
  align-items: flex-end;

  &--background {
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + rem(48px));
    min-height: rem(112px);
    margin-left: rem(-24px);
    margin-bottom: rem(-24px);

    .book-page-footer__pageNum {
      margin-left: rem(24px);
      margin-bottom: rem(24px);
    }
  }

  &--leftPagePlacement {
    justify-content: flex-start;
  }

  &--rightPagePlacement {
    justify-content: flex-end;
  }

  &__pageNum {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: rem(4px) rem(12px);
    background: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(15px);

    @include small(600);
    border: 1px solid #60636e;

    border-radius: 30px;
    width: fit-content;
  }
}
