<div
  class="lesson-track-register-container"
  [style.--color-brand]="(colors$ | async)?.brand"
  [style.--color-brand_light]="(colors$ | async)?.brand_light"
>
  <header class="lesson-track-register-header">
    <liv-title-badge name="Empatia"></liv-title-badge>

    <div class="lesson-track-register-tag">
      <strong> Aula 21 </strong>
      <span> Por dentro da sala </span>
    </div>
  </header>

  <main class="lesson-track-register-hero">
    <h1 class="lesson-track-register-hero__title">
      Como expresso meu carinho?
    </h1>
    <p class="lesson-track-register-hero__description">
      Nessa aula trabalhamos diferentes maneiras de expressar afeto pelas
      pessoas que são importantes para nós
    </p>

    <div class="purpose-card">
      <div class="purpose-card__tag">
        <i class="purpose-card__tag__iconContent"
          ><svg-icon src="assets/icons/star-outline.svg"></svg-icon
        ></i>
        <span> 3ªAtividade da aula </span>
      </div>
      <article class="purpose-card__article">
        <strong class="purpose-card__article__title"
          >Atividade de relações</strong
        >
        <p class="purpose-card__article__description">
          Objetivo: Com quem nos relacionamos em nossa vida? Nos relacionamos
          somente com pessoas?Como se dão essas relações? Nossa turma refletiu
          sobre essas e mais questões a partir do significado que cada um deu à
          palavra “relações” numa dinâmica bem divertida. Quer conferir?
        </p>
      </article>
    </div>
  </main>
</div>
