<div class="book-container">
  <main class="book-hero">
    <button
      class="switch-pages-action-button switch-pages-action-button__previous"
      [ngClass]="{
        'switch-pages-action-button__previous--active': showPreviousButton
      }"
      (click)="handlePreviousPage()"
    >
      <svg-icon src="assets/icons/arrow-left.svg"></svg-icon>
    </button>

    <div
      class="book"
      [style.--brandColor]="book.colors.brand"
      [style.--brand_lightColor]="book.colors.brand_light"
    >
      <div id="main-front-cover" class="main-cover"></div>
      <div id="pages" class="pages">
        <div class="page cover-front">
          <liv-cover-front (seePortfolio)="handleNextPage()"></liv-cover-front>
        </div>
        <div class="page cover-front cover-front--backside">
          <liv-cover-front-backside></liv-cover-front-backside>
        </div>
        <div class="page" *ngFor="let page of pages; let i = index">
          <article class="page__content">
            <ng-container *ngIf="i > 3; else customPages">
              {{ page }}
            </ng-container>

            <ng-template #customPages>
              <liv-introduction *ngIf="i === 0"></liv-introduction>
              <liv-lesson-track *ngIf="i === 1"></liv-lesson-track>
              <liv-lesson-track-register
                *ngIf="i === 2"
              ></liv-lesson-track-register>
              <liv-register *ngIf="i === 3"></liv-register>
            </ng-template>
          </article>

          <footer
            class="page__footer"
            [ngStyle]="{
              'background-image': 'url(' + footerBackground + ')'
            }"
            [ngClass]="{
              'page__footer--background': !!footerBackground
            }"
          >
            <span class="page__footer__pageNum"
              >{{ i + 1 }} / {{ totalPages }}</span
            >
          </footer>
        </div>
        <div class="page cover-back">
          <h1>Fim!</h1>
        </div>
        <div id="main-back-cover" class="main-cover"></div>
      </div>
    </div>

    <aside class="book-action-right-buttons">
      <button
        class="book-action-right-buttons__closeBookButton"
        [ngClass]="{
          'book-action-right-buttons__closeBookButton--active': showCloseButton
        }"
        (click)="handleCloseBook()"
      >
        <svg-icon src="assets/icons/close.svg"></svg-icon>
      </button>

      <button
        class="switch-pages-action-button"
        [ngClass]="{
          'switch-pages-action-button__next--active': showNextButton
        }"
        (click)="handleNextPage()"
        *ngIf="showNextButton"
      >
        <svg-icon src="assets/icons/arrow-right.svg"></svg-icon>
      </button>
    </aside>
  </main>
</div>
