<div class="register-container">
  <div class="register-wrapper">
    <ng-container 
    *ngIf="registerFields$ | async; let registerFields">
      <liv-professor-analisys 
      *ngFor="let field of registerFields"
      [field]="field"
      ></liv-professor-analisys>
    </ng-container>
  </div>
</div>

<ng-container>
  <div class="register-card" #emptyCard>
      <div>
        <p class="register-card__title" >Registro do Professor</p>
      </div>
      <div class="register-card__text">
        <span class="placeholder-title"
        (click)="handleOpenModal()">Escrever registro</span>
        <p class="placeholder-text">
          Professor, escreva aqui uma análise sobre o desenvolvimento da atividade.</p>
      </div>
  </div>
</ng-container>

