<ng-container class="register-container">
  <liv-professor-analisys class="registrer-wrapper"></liv-professor-analisys>
</ng-container>


<ng-container>
  <div class="register-card">
      <div>
        <p class="register-card__title" >Registro do Professor</p>
      </div>
      <div class="register-card__text">
        <span class="placeholder-title">Escrever registro</span>
        <p class="placeholder-text">
          Professor, escreva aqui uma análise sobre o desenvolvimento da atividade.</p>
      </div>
  </div>
</ng-container>

