<div class="professor-analysis-modal-container">
  <liv-register-base-header-modal
    (close)="handleCloseModal()"
    title="Análise do Professor"
  ></liv-register-base-header-modal>

  <form
    class="professor-analysis-modal-form"
    [formGroup]="form"
    (submit)="handleSaveProfessorAnalysis()"
  >
    <textarea
      #aboutStudent
      placeholder="Professor, escreva aqui uma análise sobre o desenvolvimento da atividade."
      formControlName="analysis"
      maxlength="350"
    ></textarea>

    <button type="submit" [disabled]="form.invalid || savingAnalysis">
      {{ savingAnalysis ? 'Aguarde' : 'Concluir' }}
    </button>
  </form>
</div>
