<div class="register-container">
  <main class="registrer-wrapper">
    <ng-container *ngIf="registerFields$ | async; let fields">
      <div
        class="register-card"
        *ngFor="let field of fields; let i = index"
        (click)="handleOpenRegisterTypeModal(field.id)"
        role="button"
        [ngClass]="{
          'register-card--empty': !field.data
        }"
      >
        <ng-container *ngIf="field.data; else emptyCard">
          <ng-container [ngSwitch]="field.data.type">
            <div class="register-card__image" *ngSwitchCase="'image'">
              <img
                [src]="field.data.value['src']"
                [alt]="field.data.value['alt'] || ''"
              />
            </div>

            <div class="register-card__text" *ngSwitchCase="'text'">
              <svg-icon src="assets/icons/quotation-marks.svg"></svg-icon>
              <p>{{ field.data.value['about'] }}</p>
              <strong>{{ field.data.value['name'] }}</strong>
            </div>

            <div class="register-card__audio" *ngSwitchCase="'audio'">
              <liv-audio-player
                [src]="field.data.value['src'] | safeTransform : 'RESOURCE'"
              ></liv-audio-player>
            </div>

            <div class="register-card__video" *ngSwitchCase="'video'">
              <liv-video-player
                [src]="field.data.value['src'] | safeTransform : 'RESOURCE'"
              ></liv-video-player>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #emptyCard>
          <span class="without-register-title">Adicionar registro</span>
          <p class="without-register-description">Esta é seleção em branco</p>
        </ng-template>
      </div>
    </ng-container>
  </main>
</div>
