<div class="register-container">
  <main class="registrer-wrapper">
    <div
      class="register-card"
      *ngFor="let field of registerFields$ | async"
      role="button"
      (click)="handleOpenRegisterTypeModal(field.id)"
      [ngClass]="{
        'register-card--empty': !field.data
      }"
    >
      <ng-container *ngIf="field.data; else emptyCard">
        <ng-container [ngSwitch]="field.data.type">
          <img
            *ngSwitchCase="'image'"
            class="register-card__image"
            [src]="field.data.value.src"
            [alt]="field.data.value.alt || ''"
          />

          <div class="register-card__text" *ngSwitchCase="'text'">
            <svg-icon src="assets/icons/quotation-marks.svg"></svg-icon>
            <p>{{ field.data.value.about }}</p>
            <strong>{{ field.data.value.name }}</strong>
          </div>

          <div class="register-card__text" *ngSwitchCase="'audio'">
            <audio controls>
              <source
                [src]="field.data.value.src"
                [type]="field.data.value.type"
              />
              Your browser does not support the audio element.
            </audio>
          </div>

          <div class="register-card__text" *ngSwitchCase="'video'">
            <video width="320" height="240" controls>
              <source
                [src]="field.data.value.src"
                [type]="field.data.value.type"
              />
              Your browser does not support the video tag.
            </video>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #emptyCard>
        <span class="without-register-title">Adicionar registro</span>
        <p class="without-register-description">Esta é seleção em branco</p>
      </ng-template>
    </div>
  </main>
</div>
