.hot-toast-bar-base {
  @include paragraph();
  border-radius: border-radius('md') !important;
  &.custom-toast-error {
    color: color('feedback-warning-medium') !important;
    background-color: color('feedback-warning-light') !important;
  }
  &.custom-toast-info {
    color: color('brand-sextenary-dark') !important;
    background-color: color('brand-sextenary-lighter') !important;
  }
  &.custom-toast-success {
    color: color('feedback-success-medium') !important;
    background-color: color('feedback-success-light') !important;
  }
  &.custom-toast-warning {
    color: color('feedback-helper-medium') !important;
    background-color: color('feedback-helper-light') !important;
  }
}
