.hot-toast-bar-base {
  @include paragraph();
  border-radius: border-radius('md') !important;
  &.custom-toast-error {
    color: color('feedback-danger-pure-dark') !important;
    background-color: color('feedback-danger-pure-light') !important;
  }
  &.custom-toast-info {
    color: color('brand-sextenary-pure-dark') !important;
    background-color: color('brand-sextenary-pure-light') !important;
  }
  &.custom-toast-success {
    color: color('feedback-success-pure-dark') !important;
    background-color: color('feedback-success-pure-light') !important;
  }
  &.custom-toast-warning {
    color: color('feedback-warning-pure-dark') !important;
    background-color: color('feedback-warning-pure-light') !important;
  }
}
